<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgbsoft.lib">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".ui.Share_InitActivity"></activity>

        <activity
            android:name="com.cgbsoft.lib.base.webview.BaseWebViewActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--权限管理-->
        <activity
            android:name="com.cgbsoft.lib.permission.MyPermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name="com.cgbsoft.lib.base.mvp.ui.QrMidActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"
             />

        <!-- ****************百度定位****************-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="FoKChG57zGF9QOZvcIomgNUzLW0YpcLP" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        <!-- ****************百度****************-->

    </application>

</manifest>
