<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qcloud.mall">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="app.mall.com.mvp.ui.MallAddressListActivity" />
        <activity android:name="app.mall.com.mvp.ui.MallEditAddressActivity" />
        <activity android:name="app.mall.com.mvp.ui.PayActivity" />
        <activity android:name="app.mall.com.mvp.ui.RechargeResultActivity" />
        <activity android:name="app.mall.com.mvp.ui.PayMethodActivity"></activity>
    </application>

</manifest>