<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.cn.hugo.android.scanner">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.cn.hugo.android.scanner.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>
