<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cgbsoft.privatefund">


    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--唤醒锁定-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--使用振动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--挂载文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--显示系统窗口-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--读写系统设置-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--获取错略位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!--获取WiFi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--改变WiFi状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--获取精确位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--访问定位额外命令-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--改变网络状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--写入外部存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--拍照权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <!--读取联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--改变配置-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!--结束后台进程-->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission  android:name="android.permission.READ_CALENDAR"/>

    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <!--读取系统日志-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--写入联系人-->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--获取任务信息-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--管理账户-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!--访问账户Gmail列表-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--设置调试程序-->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <!--使用证书-->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!--修改声音设置-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--处理拨出电话-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!-- 百度地图-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 百度地图**-->
    <application
        android:allowBackup="true"
        android:label="@string/sixiangyunname"
        android:icon="@mipmap/sxylogo"
        android:name=".SxyApplication"
        android:supportsRtl="true"
        tools:replace="android:label,android:icon">
        <activity
            android:name=".mvp.ui.LoadingActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
