@charset "utf-8";
html,body{min-width:320px !important;}
.toHidden{display:none !important;}
.detailWrap{padding:30px 15px; }
.listWrap{margin-bottom:30px;padding:15px;}
.detailWrap h2{font-size: 22px;color:#000000;padding:0px 15px 10px;}
.detailWrap h4{font-size:14px;color:#999999; padding:0px 15px 10px;}
.detailInfo{line-height: 30px;font-size: 16px;padding:10px 15px 0px;word-wrap:break-word;border-top:1px solid #D8D8D8;}
.detailInfo img{display:block;width:100% !important;height:auto !important;}
.detailInfo ul{padding:10px 15px 10px}
.textIndent2{text-indent: 2em;}

/* loading动画 */
#page.loading::after {
    content: '正在载入...';
    box-sizing: border-box;
    padding-top: 45px;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
    background: url("./loading.gif") no-repeat 8px 0;
    background-size: 40px 40px;
    font-size: 14px;
}